#relatorios mocha
mochawesome-report

# Node
node_modules
package-lock.json

# relatorios cucumber
cypress/reports/index.html
cypress/reports/index.json
cypress/reports/cucumber-json/**

#videos
cypress/videos

# Misc
.DS_Store